/* ###################################################
  File Name : SelectModelPage.css
  Author : Hibiya Haraki
  ###################################################
  Purpose : Styling for the workspace selection page
  ################################################### */

.demo-visualizer-button {
  width: 100%;
  margin-top: 8px;
}
